/* Global */
:root {
    --primary: #ffcc00;
}
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    color:white;
    font-family: 'Lato', sans-serif;
}
img {
    max-width: 100%;
}
a {
    text-decoration: none;
}

/* Utilities */


/* Menu */
nav.menu {
    height: 50px;
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav.menu img{
    height: 30px;
    padding-left: 20px;
}
.link-glass, .link-renew, .link-menu, .logo {
    display: none;
}
.link-login {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    font-size: 14px;
    color: black;
}
.link-subs {
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    font-size: 12px;
    padding: 15px;
    padding-top: 19px;
    font-weight: bolder;
    background-size: 200% 100%; 
    background-position: 100% 0%;
    background-image: linear-gradient(to left, black 50%, var(--primary) 50%);
    transition: background-position .2s ease-in-out, color .2s ease-in-out;
}
.link-subs:hover {
    background-position: 0% 100%;
    color:black;
}
.link-angles {
    color:black;
}

/* Header */
header {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
header h1 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 20px;
}
header p {
    letter-spacing: 1px;
    font-size: 15px;
    margin-bottom: 25px;
}

header a {
    border-bottom: var(--primary);
    color:white;
    border-bottom-style: solid;
    background-size: 100% 200%; 
    background-image: linear-gradient(to bottom, black 50%, var(--primary) 50%);
    transition: background-position .2s ease-in-out, color .2s ease-in-out;
}

header a:hover {
    color:black;
    background-position: 0 100%;
    padding-top: 1px;
    padding-bottom: 1px;
}

.border_header {
    background-color: var(--primary);
    height: 3px;
    width: 26px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:30px;
}